h2, h3 {
  text-align: center;
}

html, body {
  height: 100%;
  min-height: 100%;
}

#webname {
  font-family: "Trebuchet MS", Helvetica, sans-serif; 
  font-weight: 1000;
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: 1px;
}

.header {
  background-size:cover;
}

#self-photo {
  border: 2px solid #333;
  float: left; 
  margin: 0px 15px 15px 0px;
  position: relative;
  width: 150px;
  height: 220px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.textbox {
  position: absolute;
  right: 22%;
  left: 22%;
  background-color: white;
  margin-top: 32px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  line-height: 32px;
  text-align: left;

}

.large-textbox {
  position: absolute;
  right: 22%;
  left: 22%;
  background-color: white;
  margin-top: 32px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  line-height: 32px;
  text-align: left;
}



html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: rgb(255, 197, 158);
}

.tabs {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  color: whitesmoke;
  background-color: #333;
  padding: 0px 0px;
  text-decoration: none;
  font-size: 18px;
}

.tab {
  float: left;
  cursor: pointer;
  padding: 10px;
}

.tab:hover {
  background-color: rosybrown;
}

.tab.active {
  background-color: brown;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  margin-top: 100px;
  width: 100%;
  height: 100px;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 32px 50px;
  position: fixed;
  bottom: 0;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
  cursor: pointer;
}



.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;

}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.res-btn, .proj-btn1, .proj-btn2 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.res-btn:hover,
.res-btn:focus {
  opacity: .75;
}

#jccc-list, #umkc-list {
  text-align: center;
  line-height: 8px;
}

.content-after1, .content-after2 {
  display: none;
  opacity: 0;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 32px;
}

#proj-desc1, #proj-desc2 {
  text-align: left;
}

#connect-four-video, #bank-project-video {
  text-align: center;
}

#contacts {
  font-size: 20px;
}

